fastapi[standard]
uvicorn[standard]
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
python-multipart
python-dotenv
pydantic
pydantic-settings
pyrootutils
bcrypt<4
requests

# Testing dependencies
pytest
pytest-cov
pytest-asyncio
httpx
faker